<div>

    <div class="login-form">
        <form >
            <ul>
                <li>Username: <input type="text"  ng-model="login_form.username"></li>
                <li>Password: <input type="text"  ng-model="login_form.password"></li>
            </ul>
            <button type="button" ng-click="login()">Login</button>
        </form>
    </div>
    <div class="register-form">
        <form>
            <ul>
                <li>Username: <input type="text"  ng-model="reg_form.username"></li>
                <li>Password: <input type="text"  ng-model="reg_form.password"></li>
                <li>Repeat password: <input type="text"  ng-model="reg_form.password2"></li>
                <li>Email: <input type="text"  ng-model="reg_form.username"> </li>
            </ul>
        </form>
    </div>
</div>
