<form role="form">
    <div class="form-group">
        <label >Username</label><input type="text"  class="form-control"  ng-model="reg_form.username">
        <label >Password</label><input type="text"  class="form-control"  ng-model="reg_form.password">
        <label >Repeat password</label><input type="text"   class="form-control" ng-model="reg_form.password2">
        <label >Email</label><input type="text"  class="form-control"  ng-model="reg_form.email"> 
        <label >First name</label><input type="text"  class="form-control"  ng-model="reg_form.first_name"> 
        <label >Last name</label><input type="text"  class="form-control"  ng-model="reg_form.last_name"> 
        <label >Country</label><select  class="form-control"  ng-model="reg_form.country_id" >
            <option ng-repeat="c in countries" value="{{c.id}}">
                {{c.name}}
            </option>

        </select>
        <label >City</label><input  class="form-control"  type="text" ng-model="reg_form.city" />
        <label >Postcode</label><input  class="form-control"  type="text" ng-model="reg_form.zip" />
        <label >Street</label><input  class="form-control" type="text" ng-model="reg_form.street" />
        <label >Apartment number</label><input type="text"  class="form-control" ng-model="reg_form.street_number" />
    </div>
    <button type="button" ng-click="register()" class="btn btn-primary">{{btn_text}}</button>
</form>