<table width="100%" border="1">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="i in items">
            <td>
                {{i.itemdata.name}}
            </td>
            <td>
                {{i.itemdata.price}}
            </td>
            <td>
                {{i.quantity}}
            </td>
            <td>
                {{i.quantity*i.itemdata.price}}
            </td>
        </tr>
    </tbody>
</table>
<button type="button" ng-click="cleanCart()">Clear</button>
<!--<a href="/#/checkout">
  Checkout  
</a>-->
