<div ng-if="items">


<table width="100%" class="table table-striped">
    <thead>
        <tr>
            <th>Product</th>
            <th>Net price</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="i in items">
            <td>
                {{i.item.name}}
               
            </td>
            <td>
                {{i.item.price|number:2}} {{i.item.currency.symbol}}
            </td>
            <td>
                {{i.item.tax_price|number:2}} {{i.item.currency.symbol}}
            </td>
            <td>
                <button type="button" ng-click="less(i)" class="btn btn-default">-</button>
                <input class="form-control quantity-spin" type="text" ng-model="i.quantity" />
                <button type="button" ng-click="more(i)" class="btn btn-default">+</button>
            </td>
            <td>
                {{i.quantity * i.item.tax_price|number:2}} {{i.item.currency.symbol}}
                <div class="rm-container">
                    <span class="remove-item glyphicon glyphicon-remove-circle" ></span>
                </div> 
            </td>

        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">Payment fee</td>
            <td>{{payment.price|number:2}}</td>
        </tr>
        <tr>
            <td colspan="4">Shipment cost</td>
            <td>{{sprice.price|number:2}}</td>
        </tr>
        <tr>
            <td >Total</td>
            <td>{{(total_items + parseFloat(sprice.price) + parseFloat(payment.price))}}</td>
            <td colspan="2">&nbsp;</td>
            <td>
                {{(total_items_vat + parseFloat(sprice.price) + parseFloat(payment.price))}}
            </td>
        </tr>
    </tfoot>
</table>
<button type="button" class="btn btn-danger" ng-click="cleanCart()">Clear</button>
<div style="clear: both">&nbsp;</div>
<div class="panel panel-default" style="float: left; width: 49.9%" ng-style="{'border-color':sborder}">
    <div class="panel-heading">Select shipment</div>
    <div class="panel-body">   
        
            <div ng-repeat="s in shipment">
                <span class="cart-sp-label">{{s.name}}</span>
               
                
                <input  type="radio" name="shipment" ng-value="{{s}}" ng-model="$parent.sprice"  />
            
        </div>
    </div>
</div>

<div class="panel panel-default"  style="float: right; width: 49.9%" ng-style="{'border-color':pborder}">
    <div class="panel-heading">Select payment:</div>
    <div class="panel-body">  
       
            <div ng-repeat="p in payments">
                <span class="cart-sp-label">{{p.name}}</span>
                    <input type="radio" name="payment" ng-value="{{p}}" ng-model="$parent.payment" />

            </div>
        
    </div>
</div>
<div style="clear: both">&nbsp;</div>

<button class="btn btn-primary" ng-click="checkout(sprice, payment,items)">
    Checkout  
</button>

</div>
<div ng-if="items.length===0">
 Your cart is empty.
</div>