<table width="100%" border="1">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>
    
    <tbody>
        <tr ng-repeat="i in items">
            <td>
                {{i.item.name}}
            </td>
            <td>
                {{i.item.price}}
            </td>
            <td>
                {{i.quantity}}
            </td>
            <td>
                {{i.quantity * i.item.price}}
            </td>
            
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Payment fee</td>
            <td>{{payment.price}}</td>
        </tr>
        <tr>
            <td colspan="3">Shipment cost</td>
            <td>{{sprice.price}}</td>
        </tr>
        <tr>
            <td colspan="3">Total</td>
            <td>{{total_items+parseFloat(sprice.price)+parseFloat(payment.price)}}
              
            </td>
        </tr>
    </tfoot>
</table>
<button type="button" ng-click="cleanCart()">Clear</button>

<ul>
    <li ng-repeat="s in shipment">
        {{s.name}}<input type="radio" name="shipment" ng-value="{{s}}" ng-model="$parent.sprice"  />
    </li>
</ul>

<div>
    Shipment cost: {{sprice.price}}

</div>

<div>Payment:
    <ul>
        <li ng-repeat="p in payments">
            {{p.name}}<input type="radio" name="payment" ng-value="{{p}}" ng-model="$parent.payment" />

        </li>
    </ul>
</div>


<button ng-click="checkout(sprice, payment)">
    Checkout  
</button>

