Subcategories
<div ng-repeat="c in categories" class="shop-subcats">
    <div>
        <div>


            <a href="#/shop/{{c.id}}">
                {{c.name}}
            </a>
        </div>
        <div>{{c.description}}</div>
    </div>
</div>
Items
<div class="shop-items">
    <div ng-repeat="i in items" class="shop-item">
                <a href="#/details/{{i.id}}/">
                <img src="/media/{{i.image.file}}" width="64" class="item-image" />
                <div class="item-name">{{i.name}}</div>
                </a>
                <div class="item-price">{{i.price}}</div>
    </div>
</div>
