<h1>
    {{product.name}}
</h1>
<div class="product-left">
    <div>
        <div style="clear: both; float: none">
            <div class="main-image-container">
                <img ng-if="main_image" src="/media/{{main_image.file}}" class="main-image" />
                <img ng-if="!main_image" src="/static/images/placeholder1.jpg" class="main-image" />
            </div>
            <ul class="shop-images" ng-if="product.images">
                <li  ng-repeat="i in product.images" ng-click="switchImage(i)">
                    <img   src="/media/{{i.file}}" />
<!--                    <img ng-if="{{!i.file}}" src="/static/images/placeholder1.jpg"   />-->
                </li>
            </ul>
        </div>
    </div>
    <div class="cart-area">
        <div class="price">
            {{product.tax_price | number:2}} {{product.currency.symbol}} (incl. {{product.tax.amount | number:2 }}% {{product.tax.name}})
        </div>
        <div ng-controller="CartAddController">
            <form class="add-form">
                <button type="button" ng-click="less()" class="btn btn-default">-</button>
                <input class="form-control quantity-spin" type="text" id="quantity" ng-model="quantity" />
                <button type="button" ng-click="more()" class="btn btn-default">+</button>
                <button type="button" id="add-to-cart" ng-click="addToCart(product)" class="btn btn-success">Add to cart</button>
            </form>
            <div style="margin-top: 10px;" ng-if="added_message" class="alert alert-success" role="alert">{{added_message}}</div>
        </div>
    </div>
</div>
<div class="product-right">
    <div class="product-details">
        <h2>Product data</h2>
        <ul>
            <li ng-if="product.weight">
                Weight: {{product.weight}} Kg
            </li>
            <li ng-if="product.depth">
                Width: {{product.width}} M
            </li>
            <li ng-if="product.depth">
                Height: {{product.height}} M 
            </li>
            <li ng-if="product.depth">
                Depth: {{product.depth}} M
            </li>
        </ul>
    </div>
    <h2>Description</h2>
    <div class="product-description">
        {{product.descripion}}
    </div>
</div>
