<!DOCTYPE html>
{% load menutag %}
<html ng-app="djshop">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap-theme.min.css" %}" />
    <script src="{% static "bower_components/angular/angular.js" %}"></script>
    <script src="{% static "bower_components/angular-route/angular-route.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    <script src="{% static "js/controllers.js" %}"></script>



    <title>DJ SHOP</title>
</head>
<body>
{% menutag "main" %}
{% block content %}
<div ng-view>

</div>
{% endblock %}
</body>
</html>